
# generate logs for cache partition

on post-fs-data
    rm /cache/boot_log.txt
    start boot_log

service boot_log /system/bin/logcat -f /cache/boot_log.txt*:E
    class main
    user root
    group root system
    disabled
    oneshot